*{
    box-sizing: border-box;
}
#khung{
    width: 700px;
    border: 2px solid black;
    padding: 5px;

}

table{
    border-collapse: collapse;
    width: 100%;
}
td,td{
    border-collapse: collapse;
    padding: 5px;
}

